@inherits LeanComponentBase
@if(this.IsHeader)
{
    <th>@this.Header</th>
}
else
{
    <td>@this.Value</td>
}
@code {
    [Parameter, EditorRequired] public string Header { get; set; } = string.Empty;
    [Parameter] public string Value { get; set; } = string.Empty;
    [CascadingParameter(Name ="IsHeader")] private bool IsHeader { get; set; }

    private record ChangeData(string Header, string Value);
    private ChangeData changeData = new ChangeData(string.Empty, string.Empty);

    protected override bool ShouldRenderOnParameterChange(bool initialized)
    {
        var data = new ChangeData(this.Header, this.Value);
        var parameterChange = data != changeData;
        changeData = data;
        return parameterChange;
    }
}
