@page "/fetchdata"
@using Blazr.Components.FatComponents
@inherits BlazrComponentBase
@implements IDisposable

<PageTitle>Weather forecast</PageTitle>

@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

<div class="m-2 text-end">
    <button class="btn btn-primary" @onclick=AddRecord>Add Record</button>
</div>

<Loading IsLoading=this.IsLoading>
    <GridControl TRecord=WeatherForecast Records=this.ForecastService.WeatherForecasts>
        <GridColumn Header="Date" Value="@context.Date.ToShortDateString()" Sort=this.OnSort />
        <GridColumn Header="Temp &deg;C" Value="@context.TemperatureF.ToString()" Sort=this.OnSort />
        <GridColumn Header="Temp &deg;F" Value="@context.TemperatureF.ToString()" Sort=this.OnSort />
        <GridColumn Header="Summary" Value="@context.Summary" Sort=this.OnSort />
    </GridControl>
</Loading>

@code {
    private bool IsLoading;

    protected async override Task OnInitializedAsync()
    {
            this.IsLoading = true;
            ForecastService.GetForecasts();
            await Task.Delay(1000);
            this.IsLoading = false;
            this.ForecastService.ListChanged += OnListChanged;
    }

    private void OnSort(string column)
    {}

    private void AddRecord(MouseEventArgs e)
        => this.ForecastService.AddRecord();

    private void OnListChanged(object? sender, EventArgs e)
    => this.StateHasChanged();

    public void Dispose()
    => this.ForecastService.ListChanged -= OnListChanged;
}
