@page "/"
@inherits BlazrServiceControlBase
@inject ScopedAService _scopedAService
@inject ScopedBService _scopedBService;
@inject TransientAService _transientAService;

<h3>Services</h3>

<div class="bg-dark text-white m-2 p-2">
    <pre>ScopedAService Id: @(_scopedAService?.Uid.ToString() ?? "No Service") </pre>
    <pre>ScopedBService Id: @(_scopedBService?.Uid.ToString() ?? "No Service") </pre>
    <pre>TransientBService Id: @(_transientAService?.Uid.ToString() ?? "No Service") </pre>
</div>

<Service1 />

<AllServices />

<AllServices />

<AllServices />

@code {
}
