@using Blazr.Server.Web.Services;
@inherits BlazrControlBase

<h3>Service1</h3>

<div class="bg-dark text-white m-2 p-2">
    <pre>ScopedAService Id: @(_scopedAService?.Uid.ToString() ?? "No Service") </pre>
</div>

@code {
    [CascadingParameter] private ComponentServiceHandle Handle { get; set; } = default!;

    private ScopedAService? _scopedAService;

    protected override Task OnParametersSetAsync()
    {
        if(this.NotInitialized)
        {
            ArgumentNullException.ThrowIfNull(Handle);
            _scopedAService = this.Handle.GetService<ScopedAService>();
            ArgumentNullException.ThrowIfNull(_scopedAService);
        }

        return base.OnParametersSetAsync();
    }
}
